{% extends 'index.html' %}
{% block body %}

<main class="content">
	<section class="centered">
		<h2 style="color: white"><strong>Terms and Conditions</strong></h2>
		<br>
		<br>
		<div class="textcontent">
			<div class="termNcon scroll_pane jspPane mobileremovescroll">
				<h4 style="color:white"><strong>Welcome to MUSIFY.COM, a flagship portal operated by gamma musify ltd and/or its subsidiary(IES) and/or affiliate(s) (collectively referred to as the "company").</strong></h4>
				<br>
				<div style="color:white">The Terms and Conditions for EU region is<a target="_blank" style="color:#e72c30" href="https://musify.com/terms_and_conditions.html"> here</a></div>
				<ol start="1" class="number">
					<br>
					<li style="color:white"><strong>ACCEPTANCE OF TERMS OF USE</strong>
						<p>These terms of use (Terms) constitute a legally binding agreement between User or you (as defined below) and the Company regarding your use of the Musify web site i.e www.Musify.com (the Site), m.Musify.com (the WAP Site), touch.Musify.com
							(the Mobile Site), Musify Application (the Mobile Application on Android, iOS, Java, Blackberry and Windows devices) and the services including but not limited to delivery of music and related content via the Site¸ any mobile or internet
							connected device or otherwise (the "Musify Service").</p>
						<p>"User" or "You" means any person who access or avail this site of the Company for the purpose of hosting, publishing, sharing, transacting, displaying or uploading information or views and includes other persons jointly participating
							in using the site of the Company.</p>
						<p>By accessing the Site or Service and/or by clicking "I agree", you agree to be bound by these Terms. You hereby represent and warrant to the Company that you are at least eighteen (18) years of age or above and are capable of entering,
							performing and adhering to these Terms and that you agree to be bound by the following terms and conditions. While individuals under the age of 18 may utilize the Service of the site, they shall do so only with the involvement &amp;
							guidance of their parents and / or legal guardians. You agree to register prior to uploading any content and / or comment and any other use or services of this site and provide your details including but not limited to complete name,
							age, email address, residential address, contact number.</p>
						<p>The Company reserves the right, at its discretion, to change, modify, add, or remove portions of these Terms at any time by posting the amended Terms. Please check these Terms periodically for changes. Your continued use of the Musify
							Service after the posting of changes constitutes your binding acceptance of such changes. In addition, when using any particular services, you may be subject to any posted guidelines or rules applicable to such services. All such
							guidelines or rules are hereby incorporated by reference into the Terms.</p>
						<p>If you do not agree with the Terms, please do not use this Site or the Musify Service.</p>
					</li>
					<li style="color:white"><strong>MUSIFY SERVICE, REGISTRATION AND ACCESS TO USE</strong>
						<p>The Musify Service provides its members with access to music over the Internet to the Musify Service ready devices.</p>
						<ul class="listBullet">
							<li style="color:white"><strong>Registration:</strong>To register for the Musify Service you may be required to open an account by completing the registration process (i.e. by providing us with current, complete and accurate information as prompted by the
								applicable registration form). You also will choose a password and a user name. You are entirely responsible for maintaining the confidentiality of your password and account. In particular, as a parent or legal guardian, you
								acknowledge and assume sole responsibility to ensure that content which is meant for mature audiences (i.e, above the age of majority) is not accessed by children. Hence, you may not share your log in credentials with your children.
								You expressly agree to absolve the Company and/or the Musify Service of any responsibility / liability in this regard.</li>
							<li style="color:white"><strong>Facebook Connect</strong>: You may also register for the Musify Service by using your Facebook username and password. If, however, you are under 18 years of age, you may log in to Musify Service using Facebook Connect and
								utilize the Musify Service only under the supervision of your parent or legal guardian. Using Facebook Connect allows us to personalize and enhance your experience while using the Musify Service, based on your personal information,
								profile, likes, and other relevant information. When you use this feature, you expressly consent to information about your activity on the Musify Service (i.e. what you have listened, what you have liked, ratings given by you, etc.)
								being continuously released and automatically posted on your Facebook account (which has been used to log in) and made available to your friends on Facebook. You may control the information being shared through Facebook Connect by
								changing your account / privacy settings.
								<p>By registering, you agree to the Terms stated herein and in addition to any other specific terms which shall be posted at an appropriate location of the Site. Each registration is for a single individual user only.</p>
							</li>
							<li><strong>Subscription:</strong>Your subscription to the Musify Service in a particular geographical territory shall be valid for that territory only and shall not automatically entitle you to access your account from a different
								geographical territory, unless specifically permitted by the Company. The content downloaded during subscription period is only allowed to be accessed from the Musify Service and is accessible only till subscription is active and in
								good standing.</li>
							<li><strong>Access to use:</strong> To access the Musify Service, you will be asked to enter your individual user name and password, as chosen by you during your registration. Therefore, the Company does not permit any of the following:-
								<ul>
									<li>Any other person sharing your account and Password;</li>
									<li>Any part of the Site being cached in proxy servers and accessed by individuals who have not registered with the Company as users of the Site; or</li>
									<li>Access through a single account and Password being made available to multiple users on a network.</li>
								</ul>
							</li>

							<p>If the Company reasonably believes that an account and password is being used / misused in any manner, the Company shall reserve the right to cancel access rights immediately without notice, and block access to all users from that IP
								address. Furthermore, you shall be entirely responsible for any and all activities that occur under your account. You agree to notify the Company immediately of any unauthorized use of your account or any other breach of security. The
								Company will not be liable for any loss that you may incur as a result of someone else using your password or account, however, you could be held liable for losses incurred by the Company or another party due to someone else using
								your account or password.</p>
							<li><strong>Availability:</strong>
								<p>The availability of content through Musify Services will change from time to time. The quality of the music of the streaming may vary from computer to computer, and device to device, and may be affected by a variety of factors, such
									as your location, the bandwidth available through and/or speed of your Internet connection. You are responsible for all Internet access charges. Please check with your Internet provider for information on possible Internet data
									usage charges.</p>
							</li>
							<li><strong>Geographic Limitation: </strong>
								<p>You may listen music through the Musify Service only in geographic locations where the Company offers the Musify Service. The content that may be available to listen will vary by geographic location. The Company may use technologies
									to verify your geographic location.</p>
							</li>

							<li><strong>Musify Service streaming software: </strong>
								<p>The Musify Service streaming software is developed and designed to enable streaming of content from the Musify Service through the Musify Service ready devices. This software may vary by device and medium, and functionalities may also
									differ between devices. This software is licensed to you pursuant to these Terms and solely for the purpose of using the Musify Service and for no other purpose whatsoever. The Company does not warrant the performance of the
									software, including its continuing compatibility with the Musify service. Any unauthorized use of the software is strictly prohibited and Musify Service reserves the right to not provide the software (including updates) to you at any
									time and to discontinue the ability to access the Musify Service through such software at any time, without prior or any notice.When you use a Musify ready device, you expressly represent that you have the express authority to use
									such device and be liable for any transaction conducted through such device on the Site.</p>
							</li>
						</ul>
					</li>

					<li style="color:white"><strong>BILLING (If Applicable)</strong>
						<p>By signing up for the Musify Service, you are expressly agreeing that the Company is authorized to charge you subscription fee as per your selected plan, any other fees for additional services you may purchase, and any applicable taxes
							in connection with your use of the Musify Service through the credit card or other payment method accepted by the Company ("Payment Method") that you provided during registration. If you want to use a different Payment Method than the
							one you signed up for during registration, or if there is a change in your credit card validity or expiration date, you may edit your Payment Method information by clicking on your account. If your Payment Method expires and you do not
							edit your Payment Method information or cancel your account, you authorize us to continue billing, and you will remain responsible for any uncollected amounts.</p>
						<p>As used in these Terms, "billing" shall indicate either a charge or debit, as applicable, against your Payment Method. The subscription fee will be billed at the beginning of your subscription and on each subsequent renewal (as per
							plan chosen by you) thereafter unless and until you cancel your subscription or the account or service is otherwise suspended or discontinued pursuant to these Terms. To see the commencement date for your next renewal period, go to the
							billing information section on your account page.</p>
						<p>In order to sustain the Musify Service, it is important that you honor the payment obligations to which you have agreed. Accordingly, the Company reserves the right to pursue any amounts you fail to pay in connection with the Musify
							Service. You will remain liable to the Company for all such amounts and all costs incurred by the Company in connection with the collection of these amounts, including, without limitation, collection agency fees, reasonable attorneys´
							fees, and arbitration or court costs.</p>
						<p>You also understand and acknowledge that the Company only facilitates the third party payment gateway for processing of payment. This facility is managed by the third party payment gateway provider and you are required to follow all
							the terms and conditions of such third party payment gateway provider. You are responsible for the accuracy and authenticity of the information provided by you, including the bank account number/credit card details and the like. You
							agree and acknowledge that the Company shall not be liable and in no way be held responsible for any losses whatsoever, whether direct, indirect, incidental or consequential, including without limitation any losses due to delay in
							processing of payment instruction or any credit card fraud.</p>
						<p>You can file any complaint related to payment transfer at Site and the same forwarded to the concerned third party payment gateway provider for redressal.</p>
						<p style="margin-top:15px;"><strong>User authorisation for recurring billing</strong> <br></p>
						<ul>
							<li style="margin-bottom: 0;padding-bottom: 0;">User agrees to authorise Musify to make recurring purchases from user's credit card (mastercard &amp; visa) and or debit card (HDFC &amp; ICICI) after the end of plan. </li>
							<li style="margin-bottom: 0;padding-bottom: 0;">User can select one of the following plans (1 month, 3 month, 6 month or 1 year Musify Plus subscriptions) and authorise Musify to charge user at the time of renewal of the plan selected.
							</li>
							<li style="margin-bottom: 0;padding-bottom: 0;">SI mandate shall be taken online.</li>
						</ul>
						<p style="margin-top:20px;"><strong>Free Trial</strong> <br></p>
						<p>You may be offered a free trial period at the start of your membership of Musify Service, solely at the discretion of the Company. The duration and the terms of the free trial period shall be at the discretion of the Company and shall
							be specified during sign up. Free trials may not be combined with any other offer(s). Free trials will not be given in cases of renewal of membership or activation of another account from a physical address and/or email address and/or
							device which is linked to an already existing account, etc. Billing may automatically commence at the end the free trial period, without prior notice, as per the subscription plan chosen by you, unless you cancel your membership prior
							to the expiry of the free trial period. It is hence recommended that you keep track of your account, including the date when the free trial period ends.</p>
						<p>Once billing commences, we will continue to bill your Payment Method for your membership fee until you cancel. You may cancel your membership at anytime; however, there are no refunds or credits for partially used periods.</p>
					</li>

					<li style="color:white"><strong>If you’re being shown as a Musify Plus* user, download of certain songs may not be available to you.</strong></li>
					<br>
					<li style="color:white"><strong>INTELLECTUAL PROPERTY RIGHTS AND LIMITED LICENSE</strong>
						<ul class="listBullet">
							<br>
							<li><strong>Limited License:</strong> Subject to your compliance with the Terms herein, the Company hereby grants you a personal, limited, non-exclusive, non-transferable, freely revocable license to use the Musify Service for the
								personal and non-commercial viewing of videos only. Except for the foregoing limited license, no right, title or interest shall be transferred to you. Content on the Site and/or Musify Service is provided to you AS IS for your
								information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of
								the respective owners. We reserve all rights not expressly granted in and to the Site and/or Musify Service and the Content. You agree to not engage in the use, copying, or distribution of any of the Content other than expressly
								permitted herein. Any unauthorized use of the Contents or Musify Service will result in termination of the limited license granted by the Company and cancellation of your membership. Use of Site or Musify Service for any other purpose
								may result in severe civil and criminal penalties. The Company does not promote, foster or condone the copying of Content, or any other infringing activity. Violators will be prosecuted to the maximum extent possible.</li>
							<li><strong>The Content:</strong> The content on the Musify Service including, without limitation, videos, software, text, graphics, interactive features, logos, photos, music and all other audible and visual materials, as well as the
								selection, organization, coordination, compilation and overall look and feel of the Site (collectively, the "Content") are the intellectual property of the Company, its licensors and its suppliers. The Content is protected by
								copyright, trade dress, patent, trademark and other laws, international conventions and proprietary rights and all ownership rights to the Content remain with the Company, its licensors or its suppliers, as the case may be. All
								trademarks, service marks, and trade names are proprietary to the Company or its affiliates and/or third party licensors.</li>
						</ul>
					</li>
					<br>
					<li style="color:white"><strong>YOUR OBLIGATIONS</strong>
						<p>You hereby agree and assure the Company that the Site and/or Musify Service shall be used for lawful purposes only and that you will not violate laws, regulations, ordinances or other such requirements of any applicable Central, State
							or local government or any other international laws. You further concur that you shall not:</p>
						<ul class="listBullet">
							<li>circumvent, remove, alter, deactivate, degrade or thwart any of the content protections in the Site or Musify Service.</li>
							<li>either directly or through the use of any device, software, internet site, web-based service, or other means copy, download, stream capture, reproduce, duplicate, archive, distribute, upload, publish, modify, translate, broadcast,
								perform, display, sell, transmit or retransmit the Content unless expressly permitted by the Company in writing;</li>
							<li>either directly or through the use of any device, software, internet site, web-based service, or other means remove, alter, bypass, avoid, interfere with, or circumvent any copyright, trademark, or other proprietary notices marked
								on the Content or any digital rights management mechanism, device, or other content protection or access control measure associated with the Content including geo-filtering mechanisms</li>
							<li>use the Site or Musify Service in any manner that could damage, disable, overburden, or impair and not to undertake any action which is harmful or potentially harmful to any the Company´s server, or the network(s), computer systems /
								resource connected to any the Company server, or interfere with any other party´s use and enjoyment of the Site or Musify Service;</li>
							<li>obtain or attempt to obtain any materials or information through any means not intentionally made available through the Site/Service;</li>
							<li>perform any activity which is likely to cause such harm;</li>
							<li>carry out any "denial of service" (DoS, DDoS) or any other harmful attacks on application or internet service or;</li>
							<li>use the Site or Musify Service for illegal purposes;</li>
							<li>disrupt, place unreasonable burdens or excessive loads on, interfere with or attempt to make or attempt any unauthorized access to any the Company website or the website of any the Company´s customer;</li>
							<li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any content transmitted through the Site or Musify Service;</li>
							<li>attempt to gain unauthorized access to Musify Service, other accounts and computer systems through hacking, password mining or any other means. You shall not obtain or attempt to obtain any materials or information through any means
								not intentionally made available through the Site or Musify Service;</li>
							<li>incorporate the Content into, or stream or retransmit the Content via, any hardware or software application or make it available via frames or in-line links unless expressly permitted by the Company in writing;</li>
							<li>create, recreate, distribute or advertise an index of any significant portion of the Content unless authorized by the Company; </li>
							<li>use or launch any "robots", "spiders", "offline readers" etc. or any other automated system, that accesses the Site and / or Musify Service in a manner that sends numerous automated requests to the Site´s servers in a given period of
								time, which a human cannot reasonably send in the same period by using conventional web browsing application or tool(s) for similar purposes.</li>
						</ul>
						<p>In addition, you are strictly prohibited from creating derivative works or materials that otherwise are derived from or based ,on the Content in any way, including montages, mash-ups and similar videos, wallpaper, desktop themes,
							greeting cards, and merchandise, unless it is expressly permitted by the Company in writing. This prohibition applies even if you intend to give away the derivative materials free of charge.<br></p>
						<p>The Site may permit you to post user submissions including but not limited to reviews of Content available through the Musify Service, comments on such Content, etc (User Submissions) . You understand that these User Submissions, once
							posted by you, are visible to all members since it is a public forum.</p>
					</li>
					<li style="color:white"><strong>PROHIBITED ACTIVITIES</strong>
						<p>You agree not to host, display, upload, modify, publish, transmit, update or share any information or User Submissions which</p>
						<ul class="listBullet">
							<li>belongs to another person and to which you do not have any right to;</li>
							<li>is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, paedophilic, libellous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money
								laundering or gambling, or otherwise unlawful in any manner whatever;</li>
							<li>harm minors in any way;</li>
							<li>infringes any patent, trademark, copyright or other proprietary rights; </li>
							<li>violates any law for the time being in force;</li>
							<li>deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature; </li>
							<li>impersonate another person;</li>
							<li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource; </li>
							<li>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognisable offence or prevents investigation of any
								offence or is insulting any other nation;</li>
							<li>contain misleading information regarding the origin of the Content;</li>
							<li>or otherwise contains objectionable content.</li>
						</ul>
						<p>Any content uploaded by you shall be subject to relevant laws and may disabled, or and may be subject to investigation under appropriate laws. Furthermore, if you are found to be in non-compliance with the laws and regulations, these
							terms, or the privacy policy of the Site, we may terminate your account/block your access to the Site and we reserve the right to remove any non-compliant content uploaded by you. </p>
						<p>If you are found to be in non-compliance with the laws and regulations, these terms, or the privacy policy of the Site, the Company shall have the right to immediately terminate/block your access and usage of the Site and the Company
							shall have the right to immediately remove any non-compliant Content and or comment, uploaded by you and shall further have the right to take recourse to such remedies as would be available to the Company under the applicable laws.</p>
						<p>You understand and agree that the Company may, but is not obligated to, review the User Submissions and may delete or remove it (without notice) in its sole and absolute discretion, for any reason or without assigning any reason.<br>
						</p>
						<p>More specifically, when you review / rate any Content available on the Musify Service (as per functionality made available on the Site), you give the Company express rights and consent to display your rating / review in relation to the
							relevant Content on the Site, including making it available to other members for viewing. If you do not want your User Submissions / reviews / ratings to be shared in a public forum, do not use these features.<br></p>
						<p>These features may change without notice to you and the degrees of associated information sharing and functionality may also change without notice.<br></p>
						<p>the Company is free to use any comments, information, ideas, concepts, reviews, or techniques or any other material contained in any communication you may send to us ("User Feedback"), including responses to questionnaires or through
							postings to the Musify Service / the Site and User Submissions, without further compensation, acknowledgement or payment to you for any purpose whatsoever including, but not limited to, developing, manufacturing and marketing products
							and creating, modifying or improving the Musify Service. By posting / submitting any User Feedback / User Submission on the Site, you grant the Company a perpetual, worldwide, non-exclusive, royalty-free irrevocable, sub-licensable
							license and right in such User Feedback / User Submission to the Company, including the right to display, use, reproduce or modify the User Feedback / User Submission in any media, software or technology of any kind now existing or
							developed in the future.<br></p>
						<p>Operators of public search engines have the permission to use functionalities like spiders to copy materials from the Site for the sole purpose of creating publicly available searchable indices of the materials, but not caches or
							archives of such materials. We reserve the right to revoke these exceptions either generally or in specific cases, in our sole discretion. You agree not to collect or harvest any personally identifiable information, including account
							names, from the Site, nor to use the communication systems provided by the Site for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the Site with respect to its User submissions.<br>
						</p>
						<p>You shall be financially responsible for your use of the Musify Service (as well as for use of your account by others, including without limitation minors living with you). You undertake to supervise and be responsible for all usage of
							minors of the Musify Service and access of the Site under your name or account and absolve the Company from any liability on this account. You also warrant that all information supplied by you or members of your family for using the
							Musify Service and accessing the Site, including without limitation your name, email address, street address, telephone number, mobile number, credit card number is correct and accurate. Failure to provide accurate information may
							subject you to civil and criminal penalties. <br></p>
						<p>You shall be responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access the Site or otherwise use the Musify Service, including, without limitation, modems, hardware, software, and long
							distance or local telephone service. You shall be responsible for ensuring that such equipment or ancillary services are compatible with the Musify Service. <br></p>
						<p>You agree that the Company may directly or through third party service providers send information to you about the various services offered by the Company from time to time.</p>
					</li>
					<li style="color:white"><strong>LINKS TO OTHER SITES</strong>
						<p>The Site may contain the links or pointers to other websites but you should not infer or assume that the Company operates, controls, or is otherwise connected with these other websites. When you click on a link within the Site, the
							Company may not warn you that you have left the Site and are subject to the terms and conditions (including privacy policies) of another website. Please be careful to read the terms of use and privacy policy of any other website before
							you provide any confidential information or engage in any transactions. You should not rely on these Terms to govern your use of another website.<br></p>
						<p>The Company is not responsible for the content or practices of any other website even if it links to the Site and even if the website is operated by a company affiliated or otherwise connected with the Company. You acknowledge and
							agree that the Company is not responsible or liable to you for any content or other materials hosted and served from any website other than the Site.</p>
					</li>
					<li style="color:white"><strong>ADVERTISING MATERIAL</strong>
						<p>Part of the Site or the Musify Service may contain advertising information or promotion material or other material submitted to the Company by third parties. Responsibility for ensuring that material submitted for inclusion on the Site
							complies with applicable international and national law is exclusively on the party providing the information/material. Your correspondence or business dealings with, or participation in promotions of advertisers including payment and
							delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser. Before relying on any advertising material, you should
							independently verify its relevance for your purpose, and should obtain appropriate professional advice. The Company shall not be responsible nor liable for any loss or claim that you may have against an advertiser or any consequential
							damages arising on account of your relying on the contents of the advertisement.</p>
					</li>
					<li style="color:white"><strong>COLLECTION AND USE OF PERSONAL INFORMATION</strong>
						<p>For information about the Company´s policies and practices regarding the collection and use of your personally identifiable information, please read the Privacy Policy as available on the Site. The Privacy Policy is incorporated by
							reference and made part of these Terms. Thus, by agreeing to these Terms, you agree that your presence on the Site and use of the Musify Service are governed by the Company’s Privacy Policy in effect at the time of your use. The Company
							reserves the right to disclose any information that is required to be shared, disclosed or made available to any governmental, administrative, regulatory or judicial authority under any law or regulation applicable to the Company. The
							Company can further disclose your name, street address, city, state, zip code, country, phone number, email, as it in its sole discretion believes necessary or appropriate in connection with an investigation of fraud, intellectual
							property infringement, piracy, or other unlawful activity.</p>
					</li>

					<li style="color:white"><strong>DISCLAIMER OF WARRANTIES AND LIABILITY</strong>
						<p>You understand and agree that the Company provides the Musify Service on an 'as-is' 'with all faults' and 'as available' basis. You agree that use of the Site or the Musify Service is at your risk. All warranties including without
							limitation, the implied warranties of merchantability, fitness for a particular purpose, for the title and non-infringement are disclaimed and excluded.<br></p>
						<p>No representations, warranties or guarantees whatsoever are made by the Company as to the (a) accuracy, adequacy, reliability, completeness, suitability or applicability of the information to a particular situation; (b) that the
							service will be uninterrupted, timely, secure, or error-free; (c) the quality of any services, content, information, or other material on the website will meet your expectations or requirements; (d) any errors in the Site will be
							corrected; (e) warranties against infringement of any third party intellectual property or proprietary rights; or (f) other warranties relating to performance, non-performance, or other acts or omissions of the Company, its officers,
							directors, employees, affiliates, agents, licensors, or suppliers.<br></p>
						<p>The Company does not warrant that any of the software used and or licensed in connection with the Musify Service will be compatible with other third party software or devices nor does it warrant that operation of the Musify Service and
							the associated software will not damage or disrupt other software or hardware.<br></p>
						<p>The Company, its affiliates, successors, and assigns, and each of their respective investors, directors, officers, employees, agents, and suppliers (including distributors and content licensors) shall not be liable, at any time for
							any, direct, indirect, punitive, incidental, special, consequential, damages arising out of or in any way connected with the use of Site or the Musify Service, whether based in contract, tort, strict liability, or other theory, even if
							the Company have been advised of the possibility of damages.<br></p>
						<p>In the event any exclusion contained herein be held to be invalid for any reason and the Company or any of its affiliate entities, officers, directors or employees become liable for loss or damage, then, any such liability of the
							Company or any of its affiliate entities, officers, directors or employees shall be limited to not exceeding subscription charges paid by you in the month preceding the date of your claim for the particular subscription in question
							chosen by you.</p>
					</li>
					<li style="color:white"><strong>INDEMNIFICATION</strong>
						<p>You agree to indemnify, defend and hold harmless, the Company, its affiliates, successors, and assigns, and each of their respective investors, directors, officers, employees, agents, and suppliers (including distributors and content
							licensors) from and against any losses, claims, damages, liabilities, including legal fees and expenses, arising out of:</p>
						<ul class="listBullet">
							<li>any claim due to or arising out of your violation of these Terms, including but not limited to a claim arising out of a breach of your representations or warranties made hereunder;</li>
							<li>your use or misuse of or access to the Site or the Musify Service;</li>
							<li>your violation of any law, regulation or third party right, including without limitation any copyright, property, or privacy right; or</li>
							<li>any claim that you have caused damage to a third party.</li>
						</ul>
						<p>The Company reserves the right, at its own expense, to employ separate counsel and assume the exclusive defence and control of any matter otherwise subject to indemnification by you, and you agree to cooperate with the Company´s
							defence of these claims.</p>
					</li>
					<li style="color:white"><strong>TERMINATION OF ACCOUNT, SUSPENSION OR DISCONTINUATION OF MUSIFY SERVICE</strong>
						<p>The Company reserves the right to change, suspend, or discontinue temporarily or permanently, some or all of the Musify Service (including the Content and the devices through which the Musify Service are accessed), with respect to any or
							all users, at any time without notice. You acknowledge that the Company may do so in its sole discretion. You also agree that the Company will not be liable to you for any modification, suspension, or discontinuance of the Musify
							Service, although if you are a Musify Services paid subscriber and the Company suspends or discontinues the Musify Service, the Company may, in its sole discretion, provide you with a credit, refund, discount or other form of
							consideration (for example, the Company may credit additional days of service to your account). However, if the Company terminates your account or suspends or discontinues your access to the Musify Service due to your violation of these
							Terms, then you will not be eligible for any such credit, refund, discount or other consideration.</p>
					</li>
					<li style="color:white"><strong>GENERAL TERMS</strong>
						<ul class="listBullet">
							<li><strong>Grievance Redressal</strong>
								<p>Redressal Mechanism : Any complaints, abuse or concerns with regards to content and or comment or breach of these terms shall be immediately informed to the designated Grievance Officer as mentioned below via in writing or through
									email signed with the electronic signature to <a href="mailto:grievance.musify@indiatimes.co.in">grievance.musify@indiatimes.co.in</a> or <br>
									Ms. Deepti Malhotra ("Grievance Officer")<br></p>
								<p> <strong>Gamma Musify Ltd</strong><br>
									Plot No. 391, Udyog Vihar, Phase – III,<br>
									Gurgaon–122016<br>
									Haryana,India<br>
									Phone: 0120-6776830</p>
							</li>
							<li><strong>Notice of Copyright Infringement: </strong>
								<p>Our policy is to comply with all Intellectual Property Laws and to act expeditiously upon receiving any notice of claimed infringement. If you believe that any work has been reproduced on this website in a manner that constitutes
									copyright infringement, please provide a notice of copyright infringement containing all of the following information:</p>
								<ul class="listBullet">
									<li>A physical or electronic signature of a person authorized to act on behalf of the copyright owner for the purposes of the complaint.</li>
									<li>Identification of the copyrighted work claimed to have been infringed. </li>
									<li>Identification of the material on our website that is claimed to be infringing or to be the subject of infringing activity. </li>
									<li>The address, telephone number or e-mail address of the complaining party. </li>
									<li>A statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law. </li>
									<li>A statement, under penalty of perjury, that the information in the notice of copyright infringement is accurate, and that the complaining party is authorized to act on behalf of the owner of the right that is allegedly
										infringed.</li>
								</ul>
								<p>All notices of copyright infringement should be sent to copyright.infringement@indiatimes.co.in and mail to:- <br>
									<strong>Legal Department: Gamma Musify Ltd</strong> <br>
									Plot No. 391, Udyog Vihar, Phase – III,<br>
									Gurgaon–122016<br>
									Haryana,India<br>
									Phone: 0120-6776830</p>
							</li>
							<li><strong>Relationship </strong>
								<p>None of the provisions of the Terms shall be deemed to constitute a partnership or agency between you and the Company and you shall have no authority to bind the Company in any manner, whatsoever. This agreement is solely for your
									and the Company’s benefit and not for the benefit of any other person, except for permitted successors and assigns under this Agreement.</p>
							</li>
							<li><strong>Assignment </strong>
								<p>You may not transfer to anyone else, either temporarily or permanently, any rights to use the Musify Service or any part of the Musify Service. Any attempt by you to do so is void. the Company may assign, transfer, delegate and/or
									grant all or any part of its rights, privileges and properties hereunder to any person or entity.</p>
							</li>
							<li><strong>Force Majeure </strong>
								<p>Neither Party shall have any liability for any interruption or delay, to access the Site due to Force Majeure Event. For the purposes of this clause, ´Force Majeure Event´ means any event or circumstance or combination of events
									and circumstances which is reasonably beyond the control of the party affected thereby and which causes or results in default or delay in performance by such affected party of any of its obligations under this agreement and includes
									an act of God, war, hostilities, civil commotion, strikes, lockouts and other industrial disputes.</p>
							</li>
							<li><strong>Applicable Law </strong>
								<p>These Terms are governed by and construed in accordance with, the laws of India without giving effect to principles of conflict of law. In the event of any dispute or claim by you against the Company, you agree to submit to the
									exclusive jurisdiction of courts at New Delhi.</p>
							</li>
							<li><strong>Limited Time To Bring Your Claim </strong>
								<p>You and the Company agree that any cause of action arising out of or related to use of the Site or the Musify Service must commence within one (1) year after the cause of action accrues otherwise, such cause of action will be
									permanently barred.</p>
							</li>
							<li><strong>Survival </strong>
								<p>Rights and obligations under the Terms which by their nature should survive will remain in full effect after termination or expiration of the subscription.</p>
							</li>
							<li><strong>Non Waiver </strong>
								<p>Any express waiver or failure to exercise promptly any right under this agreement will not create a continuing waiver or any expectation of non-enforcement.</p>
							</li>
							<li><strong>Disclaimer </strong>
								<p>The “Music on my phone” feature under the Musify App is a mere skin provided by MUSIFY to allow the User(s) of Musify App to play/broadcast/stream legal music stored locally on their respective devices. By way of the aforesaid feature
									MUSIFY provides music player functionality to the User(s) to access the music legally stored on their devices and does not in any way provide for the storage of such music on the Musify App/Musify Sites or servers. User(s) understands,
									agrees and confirms that only legitimate and legally procured music is to be played/broadcast/streamed through their device for the use of the “Music on my phone” feature. User(s) assume total responsibility of the source and
									legitimacy of the music played through the “Music on my phone” feature.</p>
								<p>Furthermore, the User(s) hereby waive any liability or responsibility of Times Internet Limited and/ or Gamma Musify Limited and/ or their associate companies for any music related licenses or permissions for any music played by the
									User(s) through the “Music on my phone” functionality. User(s) further represent and warrant to remain solely responsible for any and all claims in relation thereto and shall without any contestation and demur, fully indemnify and
									keep indemnified Times Internet Limited and/ or Gamma Musify Limited and/ or their associate companies, directors and/or employees for any claims, royalties or penalties.</p>
							</li>
							<li><strong>Entire Agreement </strong>
								<p>These Terms constitute the entire agreement between the parties with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such
									subject matter.</p>
							</li>
							<li class="global_citizen_festival"><strong>Global Citizen Festival Offer T&amp;Cs</strong>
								<p><strong>Offer 1:</strong> Buy 6 months or 1 year Musify+ subscription, create a playlist and stand a chance to win a pass to Global Citizen India festival.</p>
								<ol>
									<li>Buy 6 months or 1 year Musify+ subscription, create a playlist and stand a chance to win a pass to Global Citizen India festival.</li>
									<li>Each user can avail this offer only once.</li>
									<li>Offer is available for limited period only.</li>
									<li>Offer starts on 7th Nov 2016 00:00 and ends on 16th Nov 2016 23:59.</li>
									<li>Musify will not bear travel costs for winners. Winners will have to arrange transportation themselves.</li>
									<li>The T&amp;C is uploaded on Musify+ payment page.</li>
									<li>The territory of this Consumer offer shall be within the territory of India except the state of Tamil Nadu, this prize draw contest is not open for participants from the state of Tamil Nadu in view of the provisions of the,
										Tamil Nadu Prize Scheme (Prohibition) Act, 1979, and in all such states where it is specifically prohibited by law.</li>
									<li>This offer is exclusive to any other offer run by the Company and is non-transferable. No substitution will be given nor shall any exchange or redemption for an equivalent cash amount or in any other form be allowed under any
										circumstances.</li>
									<li>The Company reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this offer or any part thereof at its sole discretion at anytime during its validity as may be required in view of
										business exigencies and/or changes by regulatory authority and/or statutory changes and shall be binding on the subscriber.</li>
									<li>Even if one or more provisions of these terms are held to be unenforceable under applicable law(s), the remainder of these terms shall be valid and enforceable. These terms and conditions are governed by Indian Laws. All
										disputes arising out of this offer shall be subject to the jurisdiction of courts at New Delhi.</li>

								</ol>
								<p style="margin-left: 0"><strong>Offer 2:</strong> Users with maximum referral each day will win Global Citizen Concert passes.</p>
								<ol>
									<li>2 users with maximum referral each day will win 2 Global Citizen Concert passes.</li>
									<li>Each user can avail this offer only once.</li>
									<li>Offer is available for limited period only.</li>
									<li>Offer starts on 7th Nov 2016 00:00 and ends on 16th Nov 2016 23:59.</li>
									<li>Musify will not bear travel costs for winners. Winners will have to arrange transportation themselves.</li>
									<li>The T&amp;C is uploaded on Musify+ payment page.</li>
									<li>The territory of this Consumer offer shall be within the territory of India except the state of Tamil Nadu, this prize draw contest is not open for participants from the state of Tamil Nadu in view of the provisions of the,
										Tamil Nadu Prize Scheme (Prohibition) Act, 1979, and in all such states where it is specifically prohibited by law.</li>
									<li>This offer is exclusive to any other offer run by the Company and is non-transferable. No substitution will be given nor shall any exchange or redemption for an equivalent cash amount or in any other form be allowed under any
										circumstances.</li>
									<li>The Company reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this offer or any part thereof at its sole discretion at anytime during its validity as may be required in view of
										business exigencies and/or changes by regulatory authority and/or statutory changes and shall be binding on the subscriber.</li>
									<li>Even if one or more provisions of these terms are held to be unenforceable under applicable law(s), the remainder of these terms shall be valid and enforceable. These terms and conditions are governed by Indian Laws. All
										disputes arising out of this offer shall be subject to the jurisdiction of courts at New Delhi.</li>

								</ol>

								<p style="margin-left: 0"><strong>Offer 3:</strong> Complete the sentence 'I Love Musify App because ................' and stand a chance to win passes for Coldplay Concert in Global Citizen Festival.</p>
								<ol>
									<li>User has to perform following actions to stand a chance to win passes for Coldplay Concert in Global Citizen Festival.
										<ul style="list-style-type: decimal !important; padding-left: 25px;">
											<li style="list-style-type: decimal !important">Complete the sentence 'I Love Musify App because ................'</li>
											<li style="list-style-type: decimal !important">Comment on the social post</li>
											<li style="list-style-type: decimal !important">Share the post</li>
											<li style="list-style-type: decimal !important">Tag a friend</li>
										</ul>
									</li>

									<li>Each user can avail this offer only once.</li>
									<li>Offer is available for limited period only.</li>
									<li>Offer starts on 7th Nov 2016 00:00 and ends on 16th Nov 2016 23:59.</li>
									<li>Musify will not bear travel costs for winners. Winners will have to arrange transportation themselves.</li>
									<li>The T&amp;C is uploaded on Musify+ payment page.</li>
									<li>The territory of this Consumer offer shall be within the territory of India except the state of Tamil Nadu, this prize draw contest is not open for participants from the state of Tamil Nadu in view of the provisions of the,
										Tamil Nadu Prize Scheme (Prohibition) Act, 1979, and in all such states where it is specifically prohibited by law.</li>
									<li>This offer is exclusive to any other offer run by the Company and is non-transferable. No substitution will be given nor shall any exchange or redemption for an equivalent cash amount or in any other form be allowed under any
										circumstances.</li>
									<li>The Company reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this offer or any part thereof at its sole discretion at anytime during its validity as may be required in view of
										business exigencies and/or changes by regulatory authority and/or statutory changes and shall be binding on the subscriber.</li>
									<li>Even if one or more provisions of these terms are held to be unenforceable under applicable law(s), the remainder of these terms shall be valid and enforceable. These terms and conditions are governed by Indian Laws. All
										disputes arising out of this offer shall be subject to the jurisdiction of courts at New Delhi.</li>

								</ol>
							</li>
						</ul>
					</li>
				</ol>
				<p>Copyright Notice <br>
					© Musify Ltd. 2020. All Rights reserved.<br>
					This disclaimer/terms of service notification is subject to change without notice.</p>
			</div>
		</div>
		</div>
	</section>

</main>

{% endblock body %}
